*{
    margin: 0;
    padding: 0;
}
.analysis-form{
    margin-top: 100px;
    width: 500px;
    height: 500px;

    border: solid 2px black;
    padding: 20px;
    background-color:  #4ca673;

}
.analysis-image{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.title p{
    font-size: 30px;
    margin-top: -20px;
}
.analysis-form button{
    height: 20px;

}
.analysis{

    display: flex;
    align-items: center;
    justify-content: center;
}
.response{
    width: 90%;
    border: 2px solid black;
    margin-top: 50px;
    margin-left: 25px;
    height: 200px;

}
.analysis-form p{
    text-wrap: wrap;
}