*{
    margin: 0;
    padding: 0;
}
.analysis-form{
    margin-top: 140px;
    width: 500px;
    height: 500px;
    border-radius: 10px;
    padding: 20px;
    background-color:  #B2D9C3;

}
.analysis-image{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.title p{
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}
.analysis-form button{
    height: 40px;
    width: 100px;
    border:solid 1px #B2D9C3;
    background-color: #1AB188;
    color: white;
    font-weight: bold;
    

}
.analysis{

    display: flex;
    align-items: center;
    justify-content: center;
}
.analysis-btn{
    width: 75px;
    height: 25px;
    border-radius: 5px;
}
.analysis-input{
    width: 200px;
    height: 25px;
    border-radius: 5px;
}
.analysis-form h3{
    margin-top: 50px; 
    margin-bottom: 10px;  

}
.response{
    width: 100%;
    border: 2px solid black;
    height: 200px;
    background-color: white;
    color: black;
    border-radius: 5px;

}
.scrollable-div {

    overflow-y: auto; /* This makes it vertically scrollable */
    border: 1px solid #ccc; /* Optional: Add a border for clarity */
    padding: 10px; /* Optional: Add padding for content */
  }
.analysis-form p{
    text-wrap: wrap;
}