*{
    margin: 0;
    padding: 0;

}
.bg{    background-color: white;
}
.main{
    margin-right: 100px;
    margin-left: 100px;

}
.hero{
    height: 100vh;
    display: flex;
    
}
.hero-item{
  width: 50%;
  height: 100%;
  margin-top: 75px;

}

.hero img{
    height: 75%; 
    width: 100%;
}
.hero h1{
  text-align: left;
  margin-left: 50px;
  margin-top: 200px;
  font-size: 60px;
}
.hero p{
    text-align: left;
    margin-top: 60px;
    margin-left: 50px;
    font-weight: 300;
    color: black;
    font-size: 30px;
    overflow: hidden; /* This ensures the text doesn't overflow */
    max-width: 600px;
    margin-bottom: 20px; /* Add margin bottom to create space between paragraphs */

}
.hero button{
    width: 180px;
    height: 60px;
    background-color: #1AB188;
    margin-top: 50px;
    border-radius: 10px;
    font-size: xx-large;
    padding-bottom: 5px;
    margin-left: 50px;
    border: none;

  
}
.hero button a{
  font-size: x-large;
  text-align: center;
}
.services{
    margin-top: 150px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    height:500px;
    justify-content: space-between;
}
.services-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 33%;
    padding: 20px;
}
.services-section{
  background-color: #A3E0CF;
}
.circle{
    text-align: center;
    padding: 8px;
    background-color: #1AB188;
    color: black;
    width: 100px; 
    height: 100px; 
    border-radius: 50%; 
    top: 50px; 
    z-index:1;
    transform: translateY(50px); 


    
}
.rectangle{
    z-index: 2;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    padding: 20px;
    background-color: white;
    color: black;
    border: rgb(217, 217, 217) solid 1px;
    width: 280px;
    height: 300px;
    justify-content: space-between;
}
.rectangle:hover{
  border: solid 2px #1AB188;
}
.rectangle p{
  text-align: center;
  hyphens: auto;
  font-size: large;
  font-weight: bold;

}
.medical-title{
  margin-top: 30px;
}

.rectangle button{

  padding: 10px;
  border: none;
  border-radius: 25px;
  background-color: #1AB188;
  color: white;
  width: 100%;
  font-weight: bold;
  font-size: small;
}
.rectangle button:hover{
  transform: scale(1.05);
}
.contact-us {
    border-radius: 10px;
    padding: 20px;
    margin-top: 40px;
    transform: scale(1.05);
    display: flex;
    height: 300px;

}
.contact-column{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}
.contact-column img {
    width: 50%;
    height: 60%;
}
.contact-us button{
    background-color: white;
    color: black;
    margin-left: 10px;
    border-radius: 5px;
    border: solid 1px #1AB188 ;
    width: 150px;
    height: 30px;
}
.contact-us button:hover{
    background-color: #1AB188;
}
.contact-us button a {
    color: black
}
.contact-us p{
    margin-left: 10px;
}
  
  .contact-us h2 {
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
  }
  
  .contact-methods {
    display: flex;
    flex-direction: column;
  }
  
  .contact-method {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .icon {
    padding: 5px;
    font-size: 24px;
    margin-right: 10px;
  }

button a {
    text-decoration: none;
    color: white;

}
.underlined-container {
  position: relative;
}



.underline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20%; /* Full width */
  height: 5px; /* Thickness of the line */
  background-color: #1AB188; /* Color of the line */
  transform: translateX(520px);
}
.underline p{
  text-align: center;
  color: black;
  margin-top: 50px;
  font-size: 60px;
}
.homeTitle {
  text-align: center;
  color: black;
  margin-top: 50px;
  font-size: 40px;

}
.about {
    display: flex;
    flex-direction: column;
    
}

.about-row {

    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 200px;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
}

.row-item{
    width: 60%;
    text-align: justify;
    padding: 10px;

}
.contact-section{
  margin: 0;
  margin-top: 200px;
  width: 100vw;
  background-color: #A3E0CF;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1000px;
}
.contact-form{
  background-color: white;
  width: 70%;
  height: 70%;
  padding: 10px;
  border-radius: 10px;
}
.row-item ul{
  margin-top: 10px;
}
.row-item ul li{
  text-decoration: none;
  display: flex;
  padding: 10px;
}
.row-item ul li p{
  margin: 0;
  margin-left: 10px;
}
.row-item:hover{
    transform: scale(1.05);

}
.row-image{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

}
.row-image img{
  margin-top: 50px;
  margin-right: 150px;
  border-radius: 25px;
  height: 400px;
  width: 400px;
}
.row-item p{
    margin-top: 20px;
    word-spacing: 1px; 

}

.page{
    margin-top: 50px;
}
.home-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .contact-us {
    margin-top: 40px;
  }
  .contact-us img{
    border-radius: 25px;
  }
  .contact-methods h1{
    margin-top: 70px;
    margin-left: 10px;
  }
  .contact-methods p{
    margin-top: 15px;
  }
  
  .contact-us h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .contact-methods {
    display: flex;
    flex-direction: column;
    padding: 100px;
  }
  
  .contact-method {
    display: flex;
    align-items: center;
  }
  
  .icon {
    font-size: 24px;
    margin-right: 10px;
  }
  
  .footer {
    background-color: #1AB188;
    height: 75px;

    
  }
  
  .footer h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
.social-icons{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}  
.contact-method p{
  margin-bottom: 15px;
}
.icon.large {
    font-size: 48px; /* Double the size */
    color: white;
  }
  .social-icons a {
    color: #333;
    margin-right: 10px;
    text-decoration: none;
  }
  
  .icon:hover {
    color: #1AB188; /* Change color on hover */
  }
  .row-item h2{
    margin: 0;
  }
  .disclaimer{
    color: red;
  }

/* home.css */
@media (max-width: 768px) {
  .hero {
    flex-direction: column; /* Stack items vertically on small screens */
    height: auto; /* Allow height to adjust based on content */
  }

  .hero-item {
    width: 100%; /* Take up full width on small screens */
    text-align: center;
    margin-top: 20px; /* Add space between items */
  }

  .hero img {
    height: auto; /* Allow image height to adjust */
  }

  .hero p {
    margin-left: 0; /* Center text */
    font-size: 20px; /* Decrease font size for smaller screens */
    margin-bottom: 10px; /* Adjust spacing */
  }

  .hero button {
    margin-left: auto; /* Align button to right */
    margin-right: auto; /* Align button to left */
  }

  .services {
    flex-direction: column; /* Stack services vertically on small screens */
    height: auto; /* Allow height to adjust */
    margin-left: 100px;
    margin-right: 100px;
  }

  .services-item {
    width: 100%; /* Take up full width on small screens */
    margin-bottom: 20px; /* Add space between items */
  }

  .rectangle {
    width: 80%; /* Adjust rectangle width */
    margin: 0 auto; /* Center rectangle */
  }
}

